<html>
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/style.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script type="text/javascript" src="../src/index.js"></script>
</head>

<body>
    <div id="container-register">
        <div id="title">
            <i class="material-icons lock">account_circle</i> Register
        </div>

        <form action="" method="POST" name="register" id="register_form"> 
            <div class="input">
                <div class="input-addon">
                    <i class="material-icons">face</i>
                </div>
                <input id="name" placeholder="Username" type="text" required class="validate" autocomplete="off" name="name">
            </div>

            <div class="clearfix"></div>

            <div class="input">
                <div class="input-addon">
                    <i class="material-icons">email</i>
                </div>
                <input id="email" name="email" placeholder="Email" type="email" required class="validate" autocomplete="off">
            </div>

            <div class="clearfix"></div>

            <div class="input">
                <div class="input-addon">
                    <i class="material-icons">vpn_key</i>
                </div>
                <input id="password" placeholder="Password" type="password" required class="validate"
                    autocomplete="off" name="password">
            </div>

            <div class="clearfix"></div>

            <div class="input">
                <div class="input-addon">
                    <i class="material-icons">vpn_key</i>
                </div>
                <input id="password_confirmation" name="password_confirmation" placeholder="Password confirmation" type="password" required
                    class="validate" autocomplete="off">
            </div>
            <div class="remember-me">
                <input type="checkbox">
                <span style="color: #DDD">I accept Terms of Service</span>
            </div>
            <input type="submit" value="Register" />
        </form>

        <div class="elements">
            <div style="text-align: center; width: 100%;">
                <a href="#"
                    style="color: rgb(0, 0, 0); font-size: 11px; font-weight: normal; max-width: 135px; padding: 4px 7px;">Info</a>
                <a href="#" target=""
                    style="color: rgb(0, 0, 0); font-size: 11px; font-weight: normal; max-width: 135px; padding: 4px 7px;">Terms of service</a>
                <a href="#" target=""
                    style="color: rgb(0, 0, 0); font-size: 11px; font-weight: normal; max-width: 135px; padding: 4px 7px;">Privacy Policy</a>
            </div>
        </div>
    </div>
</body>

</html>